<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Logo</title>
    <link rel="stylesheet" href="css/app.css">
    <script src="js/app.js"></script>
</head>
<body>
    <template file="header"></template>
    {{{abc}}} bcd {{{abc+'123'}}}
    <script>
        call('post',function(r){
            console.log(r);
        },{
            b : 1
        })
    </script>
</body>
</html>